body{
  background-color: rgb(0, 90, 110);
  color: #ffffcc;
  width: 9in;
  font-family: Ariel, sans-serif;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
}

.name{
  text-align:center;
  font-size: 20pt;
  text-transform: uppercase;
 
  
}

.contact{
  text-align: center;
  font-size: 16pt
}

.header {
  text-transform: uppercase;
  
}

.summary{
  border-top: 2px solid;
}

.exp{
  border-top: 2px solid;
}

.education{
  border-top: 2px solid;
}
