body{
  background-color: teal;
  color: black;
  width: 9in;
  font-family: Ariel, sans-serif;
  margin: 5% 10%
}

.contact{
  text-align: center;
}

.header {
  text-transform: uppercase;
  
}

.summary{
  border-top: 2px solid;
}

.exp{
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.education{
  border-bottom: 2px solid;
}
